*{
    margin: 0;
    padding: 0;
}

.slideIn{
    animation: slide .1s linear;
    transition: all .5s ease-in-out;
}

@keyframes slide{
    0%{
        width: 10%;
    }
    30%{
        width: 20%;
    }
    60%{
        width: 50%;
    }
    100%{
        width: 70%;
    }
}